@model MyAdvert.Core.ViewModels.AdvertsViewModel

<div id="tasksTable">
    <table class="table mt-3 table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Opis</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Adverts != null && Model.Adverts.Any())
            {
                foreach (var advert in Model.Adverts)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Advert","Advert",
                                        new { id = advert.Id })"
                               class="font-weight-bold">@advert.Title</a>
                        </td>
                        <td>@advert.Description</td>
                        <td>@advert.Category.Name</td>
                        <td>@advert.StartDate?.ToString("dd-MM-yyyy")</td>
                        <td>
                            @if (!advert.IsActive)
                            {
                                <button class="btn btn-success btn-sm mr-2"
                                        onclick="finishAdvert('@advert.Id',this)">
                                    Ukryj
                                </button>
                            }
                            <button class="btn btn-danger btn-sm"
                                    onclick="deleteAdvert('@advert.Id',this)">
                                Usuń
                            </button>
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">
                        Brak ogłoszeń
                    </td>
                </tr>
            }


        </tbody>

    </table>

    <div page-model="@Model.PagingInfo" page-action="Adverts" page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-secondary"
         page-class-selected="btn-primary"
         class="btn-group btn-group-sm m-1">
    </div>
</div>