@model MyAdvert.Core.ViewModels.AdvertsViewModel

@{
    ViewData["Title"] = "Adverts";
}

<h1>Adverts</h1>

@* formularz filtrowania *@

<form id="filterForm">
    <div class="form-row align-items-center">
        <div class="col-auto">
            @Html.TextBoxFor(x => x.FilterAdverts.Title,
           new { @class = "form-control mb-2", placeholder = "Tytuł" })
        </div>
        <div class="col-auto">
            @Html.DropDownListFor(x => x.FilterAdverts.CategoryId,
           new SelectList(Model.Categories, "Id", "Name"),
           " -- Wybierz kategorię --",
           new { @class = "form-control mb-2" }
           )
        </div>
        <div class="col-auto">
            <div class="form-check mb-2">
                @Html.CheckBoxFor(x => x.FilterAdverts.IsActive,
               new { @class = "form-check-label" }
               )
                @Html.LabelFor(x => x.FilterAdverts.IsActive)
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
        </div>
    </div>
</form>

@* tabela z zadaniami *@

<div class="row m-1 p-1 ">
    <div id="categories" class="col-3">
        <!-- wywołuje Components\NavigationMenuViewComponent.cs -->
        @await Component.InvokeAsync("NavigationMenu")
    </div>
    <div class="col-9">
        @await Html.PartialAsync("_AdvertsSummaryPartial.cshtml", Model)
    </div>
</div>
 



@section Scripts
{
    <script type="text/javascript">

    // funkcja zostanie wywołana gdy zostanie załadowany już cały widok
    $(document).ready(function () {
        // najpierw zaznaczamy formularz o id = filterForm
        // chcemy aby po kliknięci przycisku zostałą wywołana taka funkcja
        // a chcemy, żeby za pomocą ajax'a została wywołana odpowiednia funkcja z kontrolera
        // przesyłamy zserializowane dane z tego formularza
        // jeżeli zakończone sukcesem, to zostanie zwrócona tabelka z widoku częściowego

        $('#filterForm').submit(function () {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("Adverts","Advert")",
                data: $(this).serialize(),
                success: function (data) {
                    $('#tasksTable').html(data);
                },
                error: function (data) {
                    alert(data.message + ' filter ')
                },
                dataType: "html"
            });

            // return false konieczne aby nie wykonał się jeszcze raz submit
            return false;
        });
    });
    // koniec funkcji przy ładowaniu ekranu

    // usuwanie zadania
    function deleteAdvert(id, btn) {
        if (!confirm("Czy na pewno chcesz usunąć ogłoszenie ?")) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteAdvert","Advert")",
            data: {
                id: id
            },
                success: function (data) {
                    if (data.success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);

                    }
                    else {
                        alert(data.message + ' Delete 1 ');
                    }

                },
                error: function (data) {
                    alert(data.message + ' Delete 2 ');
                },
                dataType: "json"
            });
    }

    // usuwanie zadania
    function deleteAdvert2(id, btn) {
        if (!confirm("Czy na pewno chcesz usunąć ogłoszenie ?")) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: "@Url.Action("DeleteAdvert","Advert")",
            data: {
                id: id
            },
                success: function (data) {
                    if (data.success) {
                        var el = document.getElementById(id);
                        el.remove();

                    }
                    else {
                        alert(data.message + ' Delete 1 ');
                    }

                },
                error: function (data) {
                    alert(data.message + ' Delete 2 ');
                },
                dataType: "json"
            });
    }
    // oznaczanie zadania jako zrealizowane
    function finishTask(id, btn) {
        if (!confirm("Czy na pewno chcesz oznaczyć zadanie jako zrealizowane ?")) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: "@Url.Action("Finish","Advert")",
            data: {
                id: id
            },
                success: function (data) {
                    if (data.success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                    else {
                        alert(data.message + ' finish 1');
                    }

                },
                error: function (data) {
                    alert(data.message + ' finish 2');
                },
                dataType: "json"
            });
        }

    // koniec funkcji
    </script>
}